$primaryColor: #fff;
$backgroundColor: #333;

html {
  color: $primaryColor;
  background: $backgroundColor;
}

body {
  font-family: 'Lato', sans-serif;
}
h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

img {
  max-width:97%;
}

a, a:visited {
  color: #efefef;
}

.remark-slide-content {
  background-color: $backgroundColor;
}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono', monospace;
}
